* {
  padding: 0;
  margin: 0;
}

.containerr {
  /* width: 100%; */
  max-width: 700px;
  margin: 0 auto;
  border: 2px solid #f5da91;
  border-radius: 20px;
  color: #0b535d;
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
}

.d {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  width: 200px;
}

.containerr img {
  /* max-width: 100%; */
  height: 223px;
  width: 200px;
  padding: 4px;
  border-radius: 20px;
}

.containerr p {
  font-size: 16px;
  padding-left: 20px;
  padding-top: 3px;
  margin: 0;
}

.b-d {
  display: flex;
}

.b-help {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
  width: 98px;
  font-size: 18px;
  background-color: white;
  border-radius: 6px;
  border: 2px solid #5ab3bf;
  color: #0b535d;
}
.b-helpp {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
  font-size: 18px;
  background-color: rgb(245, 218, 145);
  border-radius: 6px;
  border: 1px solid #f68813;
  color: #f68711;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  width: 175px;
}

.b-help:hover {
  box-shadow: 0 0 1px 0 #00d7c3 inset, 0 0 5px 1px #00d7c3;
  border: 2px solid #00d7c3;
}
.al{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 600px) {
  .containerr img {
    width: 350px;
  }
  .d {
    width: 100%;
  }
  .containerr p {
    font-size: 14px;
  }
}

.morede{
  color: #f69024;
  text-decoration: underline;
  padding-left:20px ;
}

.morede:hover{
  color: #c96800;
  text-decoration: underline;
  font-size: 16.5px;
}

.paym{
  display: flex;
  justify-content: space-between;
}
.paym p{
  font-size: 14px;
}
.wowa{
  display: flex;
  justify-content: space-between;
  width: 60px
}

.wowa p{
  padding: 0px;
}