{% extends 'base1.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'Add_vehicle' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-12">
                        <h5 class="form-title"><span>Add Vehicle </span></h5>
                        {% include 'includes/messages.html' %}
                    </div>
                    <div style="display: flex;
                    flex-wrap: wrap;">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Select RC Image: </label>
                                <input type="file" class="form-control" name="rc" accept="image/*" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Rgistration No. : </label>
                                <input type="text" class="form-control" name="registration_no" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Owner Type : </label>
                                <select class="form-control" name="Vtype" required>
                                    <option>Vehicle Type: </option>
                                    <option value="1">Parvez Khan</option>
                                    <option value="2">Vendor</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Owner Name: </label>
                                <input type="text" class="form-control" name="owner" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Meter Reading: </label>
                                <input type="number" class="form-control" name="meter_reading" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
